extends layout

head
  style. 
    button{
      position: relative;
      border: 0;
      width: 11em;
      margin: 1em;
      padding: 10px 20px;
      border-radius: 2px;
    }

block content
  h1= title
  p Welcome to #{title}
  div
    form(method='POST' action='/postfunction')
      button.btn.btn-primary(type='submit') Send request to Azure Function App
    br
    a(href="/users")
      button.btn.btn-primary(type="button") Check all the users
  br
