extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='POST' action='/postfunction')
    button.btn.btn-primary(type='submit') Send request to Azure Function App
  form(method='GET' action='/postfunctionmongodb')
    button.btn.btn-primary(type='submit') Get data from MongoDB