extends layout

head

block content
  div
    //- form(method='POST' action='/postfunction')
    //-   button.btn.btn-primary(type='submit') Send request to Azure Function App
    //- br
    a(href="/users")
      button.btn.btn-primary(type="button") Check all the users
  br

  div
    button.btn.btn-info(type='button', data-toggle='modal', data-target='#registerModal')
      | Register
    #registerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registerModalLabel', aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h3#registerModalLabel.modal-title Register
          .modal-body
            form(action='/users/register', method='POST', id='register-record')
              .form-group.row
                  label.col-sm-2.col-form-label username:
                  .col-sm-10
                      input.form-control(type='text', name='username', placeholder='')
              .form-group.row
                  label.col-sm-2.col-form-label password:
                  .col-sm-10
                      input.form-control(type='password', name='password', placeholder='password')
              .form-group.row
                  label.col-sm-2.col-form-label email:
                  .col-sm-10
                      input.form-control(type='text', name='email', placeholder='')
              .form-group.row
                  label.col-sm-2.col-form-label first_name:
                  .col-sm-10
                      input.form-control(type='text', name='first_name', placeholder='')
              .form-group.row
                  label.col-sm-2.col-form-label middle_initial:
                  .col-sm-10
                      input.form-control(type='text', name='middle_initial', placeholder='')
              .form-group.row
                  label.col-sm-2.col-form-label last_name:
                  .col-sm-10
                      input.form-control(type='text', name='last_name', placeholder='')
              .form-group.row
                  label.col-sm-2.col-form-label address:
                  .col-sm-10
                      input.form-control(type='text', name='street_address', placeholder='')
              .form-group.row
                  label.col-sm-2.col-form-label birthday:
                  .col-sm-10
                      input.form-control(type='date', name='day_of_birth', placeholder='')
              .form-group.row
                  label.col-sm-2.col-form-label country:
                  .col-sm-10
                      select.custom-select.mr-sm-2(name='country_name')
                          option(selected='Alabama') Alabama
                          option(value='California') California
                          option(value='Texas') Texas
                          option(value='New York') New York
                          option(value='Arizona') Arizona
                          option(value='Georgia') Georgia
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
            button.btn.btn-primary(type='button', onclick="document.getElementById('register-record').submit();") Register
    
    button.btn.btn-dark(type='button', data-toggle='modal', data-target='#loginModal')
      | Login
    #loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h3#loginModalLabel.modal-title Login In
          .modal-body
            form(action='/', method='', id='login-record')
              .form-group.row
                  label.col-sm-2.col-form-label username:
                  .col-sm-10
                      input.form-control(type='text', name='username', placeholder='not finished yet.....')
              .form-group.row
                  label.col-sm-2.col-form-label password:
                  .col-sm-10
                      input.form-control(type='password', name='password', placeholder='not finished yet.....')
              .form-group.row
                  label.col-sm-2.col-form-label email:
                  .col-sm-10
                      input.form-control(type='text', name='email', placeholder='not finished yet.....')
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
            button.btn.btn-primary(type='button', onclick="document.getElementById('login-record').submit();") Login
  div
    h1