doctype html
html
head
  title= title
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/bootstrap/css/dataTables.bootstrap4.min.css')
  script(src='/bootstrap/js/jquery-3.4.1.js')
  script(src='/bootstrap/js/jquery-3.3.1.slim.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/bootstrap/js/jquery.dataTables.min.js')
  script(src='/bootstrap/js/dataTables.bootstrap4.min.js')
  script(src='/bootstrap/js/popper.min.js')
  script(src='/bootstrap/js/bootstrap.bundle.min.js')


  //- script(src='/pwabuilder-sw-register.js')
  //- link(rel='manifest', href='/manifest.json')
  
body
  .container-fluid
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand Express Sample App
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/users') Users
        span
          div
            .btn-toolbar.mb-3(role='toolbar', aria-label='Toolbar with button groups')
              .btn-group.mr-2(role='group', aria-label='Second group')
                button.btn.btn-primary.rounded(type='button', data-toggle='modal', data-target='#loginModal')
                  | Login
                #loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
                  .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                      .modal-header
                        h3#loginModalLabel.modal-title Login In
                      .modal-body
                        form(action='/users/login/', method='POST', id='login-record')
                          .form-group.row
                              label.col-sm-3.col-form-label username:
                              .col-sm-9
                                  input.form-control(type='text', name='username')
                          .form-group.row
                              label.col-sm-3.col-form-label password:
                              .col-sm-9
                                  input.form-control(type='password', name='password')
                      .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
                        button.btn.btn-primary(type='button', onclick="document.getElementById('login-record').submit();") Login
              .btn-group.mr-2(role='group', aria-label='First group')
                form(action="/users/logout", method="GET")
                  button.btn.btn-dark.rounded(type="submit") LogOut
  
  .container-fluid
    block content
    

