doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/jquery-3.4.1.js')
    script(src='/bootstrap/js/bootstrap.min.js')

    script(src='/pwabuilder-sw-register.js')
    link(rel='manifest', href='/manifest.json')
    
  body
    block content