doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/pwabuilder-sw-register.js')
    link(rel='manifest', href='/manifest.json')
  body
    block content